// 计算rem的基准字体
rem-base-font-size= 64px;

// UI设计图的分辨率宽度
UI-resolution-width= 720px;

// 需要适配的屏幕宽度
device-widths= 240px 320px 360px 375px 412px 480px 540px 640px 720px 768px 1024px 1440px;

// 根据不同设备的屏幕宽度，定义<html>的基准font-size
html-font-size() {
  for current-width in device-widths {
    @media screen and (min-width:current-width) {
      html{
        x=UI-resolution-width/current-width;  // 计算出是几倍屏
        font-size:(rem-base-font-size/x)px;
      }
    }
  }
}

html-font-size()